page-sign-in {
.facebook-btn {
    background-color: #3b5998;
    margin: auto;
    //width: 95%;
    margin-bottom: 5px;
  }

  .google-btn {
    background-color: #d34836;
    margin: auto;
    //width: 95%;
    margin-bottom: 5px;
  }

}
